
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tobiasbill/
RewriteRule ^index\.php$ - [L]
RewriteRule ^assets/css/(.*) /tobiasbill/wp-content/themes/tobiasbill/assets/css/$1 [QSA,L]
RewriteRule ^assets/js/(.*) /tobiasbill/wp-content/themes/tobiasbill/assets/js/$1 [QSA,L]
RewriteRule ^assets/img/(.*) /tobiasbill/wp-content/themes/tobiasbill/assets/img/$1 [QSA,L]
RewriteRule ^plugins/(.*) /tobiasbill/wp-content/plugins/$1 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tobiasbill/index.php [L]
</IfModule>

# END WordPress
