/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* =============================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */


   .ngg-gallery-thumbnail{
      text-align: left;
   }

   .ngg-gallery-thumbnail img,
   .ngg-thumbnail img{
      border: none;
      padding: 0;

   }   

   .ngg-gallery-thumbnail img:hover,
   .ngg-thumbnail img:hover{
      opacity: 0.70;      
   }

   
   .nggv-vote-form{
      margin-left: 4px;
   }

   input[type="text"]{
      display: none;
   }

   input[type="submit"]{
      
   }

   #nggv_rating{
      width: 160px;
      margin-right: 10px;
      margin-left: 0;
      margin-bottom: 0;
   }




/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
